.nav{
    background:transparent;
    top: 0;
    width: 100%;
    position: fixed;
    transition: all .5s ease-in-out;
    z-index: 9999;
  }
  
  .nav.scrolled{
    background:#222222 !important;
  }