@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  overflow-x: hidden;
  
}

.hero{
  height: 100vh;
}

.nametag{
  user-select: none;
}


.about-me, .works{
  height: 80vh;
  max-height: 100vh;
  background-color: #222222;
}


.pfp-placehold{
  height: 250px;
  width: 250px;
  background-color: aquamarine;
}

.circle{
  height: 250px;
  width: 250px;
  background-color: #DD2972;

  position:absolute;
  bottom: -2cm;
  right: -3cm;
  z-index: -1;
}

.circle:nth-child(2){
  
  height: 150px;
  width: 150px;
  background-color: #FF4B2B;

  

  position:absolute;
  top: -1cm;
  left: -2cm;
  z-index: -1;
}


